#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    .v-sidebar-menu {
        background-color: #ccccccc2;
      }
      .v-sidebar-menu .vsm--dropdown .vsm--list {
        background-color: #36363b82;
    }
  }
  
  